exp: {{stats.exp}}
<br>
level: {{stats.level}}
<br>
{{stats.hp}}
<br>
{{stats.surge_value}}
<br>
{{stats.surges}}
<br>
{{stats.movement}}

<br>

<h5>Abilities</h5>

<div class="abilities_chart">
  <!-- D3 -->
</div>

{{yield}}
