
level: {{stats.level}}
<br>
exp: {{stats.exp}}
<br>
health: {{stats.hp}}
<br>
surges: {{stats.surges}} value: {{stats.surge_value}}
<br>
movement: {{stats.movement}}

<br>

<h5>Abilities</h5>

<p>
<i>
An ability score is a natural number, with a value of 10 or 11 representing average human ability.
</i>
</p>

<svg class="abilities_chart">
  <!-- D3 -->
</svg>

<h5>Skills</h5>

<svg class="skills_chart">
  <!-- D3 -->
</svg>

<h5>Modifiers</h5>

{{#each modifiersList as |modifier|}}
  {{modifier.name}}: {{modifier.value1}}, {{modifier.value2}}
  <br>
{{/each}}
