
<h2>{{model.name}}</h2>

<ul>
  <li>
    {{link-to 'Profile' 'char.profile' model}}
  </li>
  <li>
    {{link-to 'Powers' 'char.powers' model}}
  </li>
  <li>
    {{link-to 'Items' 'char.items' model}}
  </li>
</ul>




{{yield}}
