
<h2>{{model.name}}</h2>

{{screen-shot model=race}}

{{screen-shot model=charClass}}

<h3>powers</h3>

{{screenshots-list title='at will'
                   path='powers/at_will/'
                   list=model.powers.atWill}}

{{screenshots-list title='encounter'
                   path='powers/encounter/'
                   list=model.powers.encounter}}

{{screenshots-list title='daily'
                   path='powers/daily/'
                   list=model.powers.daily}}

{{screenshots-list title='utility'
                   path='powers/utility/'
                   list=model.powers.utility}}
<hr>

<h3>feats</h3>

{{screenshots-list title=''
                   path='feats/'
                   list=model.feats}}
<hr>

<h3>features</h3>
{{screenshots-list title='race'
                   path='features/race/'
                   list=model.features.race}}
{{screenshots-list title='class'
                   path='features/class/'
                   list=model.features.charClass}}
<hr>

<h3>items</h3>

{{screenshots-list title='armor' 
                   path='items/'
                   list=model.items}}

{{yield}}
