{{#if model.level}}
  <div class="screen_shot_level">
    {{model.level}}
  </div>
{{/if}}

{{#if model.name}}
  <span class="screen_shot_name">
    {{model.name}}
  </span>
{{else}}
  ERROR: missing name.
{{/if}}

{{#if model.source}}
  <span class="screen_shot_source">
    {{model.source}}
  </span>
{{/if}}

{{screen-shot-img imgSrc=imgSrc toggleImage=toggleImage}}

{{yield}}
